#!/usr/bin/env bash
set -e

# add *_HOME to PATH temporarily
<additional_executables>

# check if needed programs are in PATH
<executable_checks>

# source additional environment variables
<additional_env>

# Post source check if needed programs are in PATH
<post_executable_checks>

# cmake
curDir=`dirname "$0"`
cmake -B"$curDir"/build/ -H"$curDir/src" "$@"

# make
make -j4 -C "$curDir/build"