/*
 * Copyright (C) 2018 SE RWTH.
 *
 * TODO: Include License.
 */

export * from "./{{context.name}}-command-contribution";
export * from "./{{context.name}}-conditions";
export * from "./{{context.name}}-menu-contribution";
