#
# (c) https://github.com/MontiCore/monticore
#
# The license generally applicable for this project
# can be found under https://github.com/MontiCore/monticore.
#

# (c) https://github.com/MontiCore/monticore
#
stages:
- windows
- linux
masterJobLinux:
  stage: linux
  image: maven:3-jdk-8
  script: 
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean deploy -U --settings settings.xml
  - cat target/site/jacoco/index.html
  - mvn package -s settings.xml
  only:
  - master
  except:
    changes:
    - README.md
    - .gitignore
    - .gitlab-ci.yml

  
#masterJobWindows:
#  stage: windows
#  script:
#  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean install -U --settings settings.xml
#  tags:
#  - Windows10_OS

BranchJobLinux:
  stage: linux
  image: maven:3-jdk-8
  script: 
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean install -U --settings settings.xml
  - cat target/site/jacoco/index.html
  except:
  - master

