stages:
- build
- test
 
windows_build:
  stage: build
  script: 
  - call VsDevCmd.bat
  - call docs\build_all_msvc.bat
  tags:
  - Windows10
  artifacts:
    paths:
      - hardware_emulator/build/Debug/hardware-emulator-test.exe
      - hardware_emulator/bin/AutopilotModel.dll
      - hardware_emulator/bin/loaded_dll.dll
      - hardware_emulator/bin/SampleDLL.dll

test_windows:
  stage: test
  tags:
  - Windows10
  script:
    - copy "hardware_emulator\build\Debug\hardware-emulator-test.exe" "hardware_emulator\bin"
    - cd hardware_emulator\bin
    - hardware-emulator-test
  dependencies:
    - windows_build

linux_build:
  stage: build
  image: maven:3-jdk-8

  script: 
  - apt update
  - apt install build-essential
  - apt install cmake
  - docs/build_all.sh
  artifacts:
    paths:
      - hardware_emulator/build/hardware-emulator-test

#test_linux:
#  stage: test
#  tags:
#  - linux
#  script:
#    - mv hardware_emulator/build/hardware-emulator-test hardware_emulator/bin/hardware-emulator-test
#    - cd hardware_emulator/bin
#    - hardware-emulator-test
#  dependencies:
#    - linux_build