*.h5 filter=lfs diff=lfs merge=lfs -text
src/test/resources/models/ModularMNIST/resources/training_data/test.h5 filter=lfs diff=lfs merge=lfs -text
src/test/resources/models/ModularMNIST/resources/training_data/train.h5 filter=lfs diff=lfs merge=lfs -text
