target
nppBackup
.project
.settings
.classpath
.idea
.git
.vscode
*.iml
train.log
model
/src/test/resources/experiment/pytorch/CNNPredictor_LeNet.h
/src/test/resources/models/CustomNetworkMnist.emadl
/src/test/resources/experiment/pytorch/execute_LeNet
/src/test/resources/experiment/pytorch/CNNCreator_LeNet.py
