# (c) https://github.com/MontiCore/monticore  
stages:
- test

masterJobLinux:
  stage: test
  image: maven:3-jdk-8
  script:
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean deploy --settings settings.xml
  - cat target/site/jacoco/index.html
 # - mvn package sonar:sonar -s settings.xml
  only:
  - master

#masterJobWindows:
#  stage: test
#  script:
#  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean install --settings settings.xml
#  tags:
#  - Windows10_OS

BranchJobLinux:
  stage: test
  image: maven:3-jdk-8
  script:
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean install --settings settings.xml
  - cat target/site/jacoco/index.html
  except:
  - master
