# (c) https://github.com/MontiCore/monticore
stages:
- linux

TrainSentimentAnalyzer:
  stage: linux
  image: registry.git.rwth-aachen.de/monticore/embeddedmontiarc/generators/emadl2cpp/dockerimages/mxnet170:v0.0.1
  script:
    - cp /mxnet/build/libmxnet.so /mxnet/build/libmxnet.a /usr/lib/
    - mvn versions:use-latest-versions -s ./settings.xml
    - mvn dependency:resolve emadl:train -B -s settings.xml 
