/* (c) https://github.com/MontiCore/monticore */
.content-container {
  padding:10px;
}

.controls {
  text-align:right;
}

.form-container {
  overflow-y:auto;
  max-height:500px;
  margin:10px;
  padding:0 10px 0 0;
}

.use-case-form {
  text-align:center;
  float:left;
  width:45%;
  margin-top:0;
}

.use-case-form:nth-of-type(2n) {
  margin-left:20px;
}

.legend {
  text-align:right;
}
