# (c) https://github.com/MontiCore/monticore

stages:
- mnistsmallseg
- unet
- fcn

TestMNIST:
  stage: mnistsmallseg
  image: registry.git.rwth-aachen.de/monticore/embeddedmontiarc/applications/mnistcalculator/mxnet:v0.0.3
  script:
  - cd mnistsmallseg
  - chmod +x build.sh
  - ./build.sh
  except:
    changes:
    - README.md
    - .gitignore

# TestUNET:
#   stage: unet
#   image: registry.git.rwth-aachen.de/monticore/embeddedmontiarc/applications/mnistcalculator/mxnet:v0.0.3
#   script:
#   - cd unet
#   - chmod +x build.sh
#   - ./build.sh

# TestFCN:
#   stage: fcn
#   image: registry.git.rwth-aachen.de/monticore/embeddedmontiarc/applications/mnistcalculator/mxnet:v0.0.3
#   script:
#   - cd fcn
#   - chmod +x build.sh
#   - ./build.sh
