cmake_minimum_required(VERSION 3.5)
project (<name>)
set (CMAKE_CXX_STANDARD 14)
set (AMENT_CMAKE_UNINSTALL_TARGET FALSE)

<packages>

add_library(<name> <name>.cpp)
set_target_properties(<name> PROPERTIES LINKER_LANGUAGE CXX)
target_link_libraries(<name> <compName> IAdapter_<compName> <libraries>)
target_include_directories(<name> PUBLIC ${CMAKE_CURRENT_SOURCE_DIR} <include_dirs>)
<dependency>

export(TARGETS <name> FILE <name>.cmake)