/* (c) https://github.com/MontiCore/monticore */
.sol-runtime-components.path-component {
    display:flex;
    align-items:center;
}

.sol-runtime-components.path-component button {
    min-width:20px;
}

.sol-runtime-components.path-component input {
    flex:1;
}
