/* (c) https://github.com/MontiCore/monticore */

.sol-runtime-components.string-component {
    display:flex;
    align-items:center;
}

.sol-runtime-components.string-component input {
    flex:1;
}
