# (c) https://github.com/MontiCore/monticore  
image: maven:3-jdk-8

stages:
#- windows
- linux

masterJobLinux:
  stage: linux
  image: maven:3-jdk-8
  script:
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean deploy --settings settings.xml
 # - cat target/site/jacoco/index.html
  only:
  - master
  except:
    changes:
    - .gitlab-ci.yml
    - README.md



#masterJobWindows:
#  stage: windows
#  script:
#  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean install --settings settings.xml
#  tags:
#  - Windows10_OS

BranchJobLinux:
  stage: linux
  image: maven:3-jdk-8
  script:
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B  clean install --settings settings.xml
#  - cat target/site/jacoco/index.html
  except:
  - master
