/target/
target/
.project
.settings/
.classpath
*.log
*.iml
.idea/
/.gradle/
/bin/
.vsls.json
output.txt
.DS_Store
.vscode/

examples/tictactoe-example-environment/target/
examples/tictactoe-example-environment/.project
examples/tictactoe-example-environment/.settings/
examples/tictactoe-example-environment/.classpath
examples/tictactoe-example-environment/*.log
examples/tictactoe-example-environment/*.iml
examples/tictactoe-example-environment/.idea/
examples/tictactoe-example-environment/.gradle/
examples/tictactoe-example-environment/bin/
examples/tictactoe-example-environment/.vsls.json
examples/tictactoe-example-environment/output.txt
examples/tictactoe-example-environment/.DS_Store
examples/tictactoe-example-environment/.vscode/
examples/.DS_Store
doc/.DS_Store

examples/tictactoe-example-agent/target/
examples/tictactoe-example-agent/.project
examples/tictactoe-example-agent/.settings/
examples/tictactoe-example-agent/.classpath
examples/tictactoe-example-agent/*.log
examples/tictactoe-example-agent/*.iml
examples/tictactoe-example-agent/.idea/
examples/tictactoe-example-agent/.gradle/
examples/tictactoe-example-agent/bin/
examples/tictactoe-example-agent/.vsls.json
examples/tictactoe-example-agent/output.txt
examples/tictactoe-example-agent/.DS_Store
examples/tictactoe-example-agent/.vscode/