.idea
cpp/**
dll/**
apache-tomcat-9.0.5/bin/logs/
apache-tomcat-9.0.5/logs/
apache-tomcat-9.0.5/webapps/ROOT/

apache-tomcat-9.0.5/bin/*.log

model/*.zip
model/pump/

visualisation/SVG
visualisation/modelEMA

distributed-simulator/

reporting/report/data/**

testInfo/''
testResults/**
exec/**
tests-cpp/**
apache-tomcat-9.0.5/
armadillo-8.200.2/
chrome/
emam2wasm/
client/
ide/
jdk/
lib/
mingw64/
nodejs/
precompiled/
reporting/
scripts/
testInfo/
testResults/
tests-cpp/
visualisation/
model/autopilot/
model/clustering/
model/cncverification/
model/nfpverification/
model/oclverification/
/*.emscripten
/.emscripten_cache
/cluster-fiddle/dropzone.css
/cluster-fiddle/dropzone.js
/cluster-fiddle/example-image-1.jpg
/cluster-fiddle/example-image-2.jpg
/cluster-fiddle/img.bmp
/cluster-fiddle/index.css
/cluster-fiddle/index.html
/cluster-fiddle/index.js
/emam2cpp.jar
/externallibs/lapack_win64_MT.dll
/externallibs/libopenblas.dll
/pacman/audio/*.ogg
/pacman/audio/*.mp3
/pacman/BD_Cartoon_Shout-webfont.ttf
/pacman/LICENSE
/pacman/index.html
/pacman/modernizr-1.5.min.js
/pacman/pacManWrapper.html
/pacman/pacManWrapper.js
/pacman/pacManWrapper.wasm
/pacman/pacManWrapper_wrapper.js
/pacman/pacman.js
/pacman/simulation.html
/pacman/simulation.js
