/*
 * (c) https://github.com/MontiCore/monticore
 */
html, body {
    padding:0;
    margin:0;
    height:100%;
    background-color:#EDEDED;
}

a {
    text-decoration:none;
}

.centered {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.container {
    text-align:center;
    width:100%;
}

.button {
    max-width:250px;
    max-height:250px;
    width:33%;
    cursor:pointer;
    background-color:#FFF;
    transition:all ease-in-out 300ms;
    box-shadow:0  17px 10px -10px rgba(0, 0, 0, 0.4);
}

img:not(:first-child), a:not(:first-child) {
    margin-left:20px;
}

.button:not(.disabled):hover {
    box-shadow:0  37px 20px -20px rgba(0, 0, 0, 0.2);
    transform:translate(0, -10px);
}

.disabled {
    opacity:0.3;
    cursor:default;
}
