<!-- (c) https://github.com/MontiCore/monticore -->
<mat-form-field color="accent" required>
    <input matInput placeholder="Name" [(ngModel)]="state.name" #name="ngModel">
    <mat-hint>The name of the script in dot separated notation (e.g execute.distributed.bat).</mat-hint>
    <mat-error *ngIf="state.hasErrorWithControl('name', name.control)">{{state.getError('name')}}</mat-error>
</mat-form-field>
<mat-form-field color="accent" required>
    <input matInput placeholder="Use Case" [(ngModel)]="state.useCase" #useCase="ngModel" [matAutocomplete]="useCaseCompletions">
    <mat-hint>Use Case to which the script should be added.</mat-hint>
    <mat-error *ngIf="state.hasErrorWithControl('useCase', useCase.control)">{{state.getError('useCase')}}</mat-error>
</mat-form-field>
<mat-form-field color="accent" required>
    <input matInput placeholder="Extension" [(ngModel)]="state.extension" #extension="ngModel" [matAutocomplete]="extensionCompletions">
    <mat-hint>Extension to which the script should be added.</mat-hint>
    <mat-error *ngIf="state.hasErrorWithControl('extension', extension.control)">{{state.getError('extension')}}</mat-error>
</mat-form-field>
<div>
    <button mat-raised-button [color]="state.hasError('path') ? 'error' : 'accent'" class="button" [disabled]="state.saved">
        <label>
            Select a Script... *
            <input type="file" class="hidden" (change)="onFileChange($event)" accept=".bat,.sh" required/>
        </label>
    </button>
</div>
<mat-autocomplete #useCaseCompletions="matAutocomplete">
    <mat-option *ngFor="let useCase of useCases" [value]="useCase.name">
        {{useCase.name}}
    </mat-option>
</mat-autocomplete>
<mat-autocomplete #extensionCompletions="matAutocomplete">
    <mat-option *ngFor="let extension of extensions" [value]="extension.name.replace('@emastudio/', '')">
        {{extension.name.replace('@emastudio/', '')}}
    </mat-option>
</mat-autocomplete>
