target/
nppBackup
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Don't track IntelliJ files
.idea/
*.iml

# Don't track .DS_STORE files
*.DS_STORE

# Don't track VSCode/Eclipse Files
.classpath
.project
.vscode/
.settings/

