/target/*
.settings/*
.project
.classpath
.directory
.idea
.idea/*
*.iml
/target
*.pyc
*.DS_Store
install/hardware_emulator_lib.dll
install/hardware_emulator_lib.so
install/libROSInterface.so
install/basic-simulator.jar
install/results/*
dependency-reduced-pom.xml
.vscode/
.factorypath
*.log

bin