# (c) https://github.com/MontiCore/monticore  
stages:
- EMA
- CD4A
- MCGrammar

TaggingEMA:
  stage: EMA
  image: maven:3-jdk-8
  script:
  - cd EmbeddedMontiArc
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B clean install --settings settings.xml

TaggingCD4A:
  stage: CD4A
  image: maven:3-jdk-8
  script:
  - cd CD4A
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B clean install --settings settings.xml

TaggingMCGrammar:
  stage: MCGrammar
  image: maven:3-jdk-8
  script:
  - cd MCGrammar
  - mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B clean install --settings settings.xml
