version: "3.9"

services:
  database:
    image: postgres:alpine3.15
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_USER=${DATABASE_USER}
    ports:
      - "5433:5432"
