/target/
target/
.project
.settings/
.classpath
*.log
*.iml
.idea/
/.gradle/
/bin/
.vsls.json
output.txt
.DS_Store
chess-agent/target/
chess-agent/target/
chess-agent/.project
chess-agent/.settings/
chess-agent/.classpath
chess-agent/*.log
chess-agent/*.iml
chess-agent/.idea/
chess-agent/.gradle/
chess-agent/bin/
chess-agent/.vsls.json
chess-agent/output.txt
chess-agent/.DS_Store
chess-environment/test/.DS_Store
chess-environment/target/
chess-environment/target/
chess-environment/.project
chess-environment/.settings/
chess-environment/.classpath
chess-environment/*.log
chess-environment/*.iml
chess-environment/.idea/
chess-environment/.gradle/
chess-environment/bin/
chess-environment/.vsls.json
chess-environment/output.txt
chess-environment/.DS_Store
chess-environment/.vscode/
chess-agent/.vscode/

