/* (c) https://github.com/MontiCore/monticore */
* {
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    margin:0;
    padding:0;
    background-color:#303130;
    height:100%;
    overflow:hidden;
    color:#cecece;
}

.row {
    background-color:#252525;
    text-align:center;
    width:100%;
    margin:20px 0 20px 0;
}

.row-1 {
    height:calc((100% - 64px - 168px - 40px - 40px - 60px) / 2);
}

.row-1 > img {
    height:100%;
}

.row-2 {

}

.row-3 {
    height:60px;
}

.row-4 {
    height:calc((100% - 64px - 168px - 40px - 40px - 60px) / 2);
}

.row-4 > img {
    height:100%;
}

#spinner {
    display:none;
}
